<footer>
    <div class="container">
        <div class="footer-main">
            <div class="row">
                <!-- About Column -->
                <div class="col-lg-4 col-md-6 footer-col">
                    <h5><i class="fa-solid fa-compass"></i> Wanderlust</h5>
                    <p>Discover unique stays and experiences around the world. From cozy cabins to luxurious villas,
                        find your perfect getaway with Wanderlust.</p>
                    <div class="footer-socials mt-3">
                        <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#" aria-label="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#" aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
                    </div>
                </div>
                <!-- Quick Links Column -->
                <div class="col-lg-2 col-md-6 footer-col">
                    <h5>Explore</h5>
                    <ul>
                        <li><a href="/listings">All Listings</a></li>
                        <li><a href="/listings/new">Airbnb Your Home</a></li>
                        <li><a href="/signup">Create Account</a></li>
                        <li><a href="/login">Sign In</a></li>
                    </ul>
                </div>
                <!-- Support Column -->
                <div class="col-lg-3 col-md-6 footer-col">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Safety Information</a></li>
                        <li><a href="#">Cancellation Options</a></li>
                        <li><a href="#">Accessibility</a></li>
                        <li><a href="#">Report a Concern</a></li>
                    </ul>
                </div>
                <!-- Hosting Column -->
                <div class="col-lg-3 col-md-6 footer-col">
                    <h5>Hosting</h5>
                    <ul>
                        <li><a href="/listings/new">List Your Property</a></li>
                        <li><a href="#">Hosting Resources</a></li>
                        <li><a href="#">Community Forum</a></li>
                        <li><a href="#">Responsible Hosting</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Footer bottom -->
        <div class="footer-bottom">
            <p>&copy; 2026 Wanderlust Private Limited. All rights reserved.</p>
            <div class="footer-bottom-links">
                <a href="/">Privacy Policy</a>
                <a href="/">Terms of Service</a>
                <a href="/">Sitemap</a>
            </div>
        </div>
    </div>
</footer>