<% layout("/layouts/boilerplate.ejs") %>

    <div class="error-container">
        <div class="error-card">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <h4>
                <%= err.message %>
            </h4>
            <p>Something went wrong. The page you're looking for might not exist or an error occurred.</p>
            <a href="/listings" class="btn-back"><i class="fa-solid fa-arrow-left"></i> Back to Listings</a>
        </div>
    </div>